$primary-color: #4a90e2;
$secondary-color: #e74c3c;
$text-color: #ecf0f1;

.background-container {
  height: 100vh;
  background: linear-gradient(135deg, $primary-color, $secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
  font-family: 'Arial', sans-serif;
  padding: 20px; // Agrega algo de espaciado para asegurar que el contenido no quede pegado a los bordes
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);

  .content {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    max-width: 600px; // Limita el ancho para mantener un diseño más compacto
    margin-bottom: 20px; // Espaciado entre el contenido y el chat

    .title {
      font-size: 3.5rem;
      margin-bottom: 15px;
      text-transform: uppercase; // Todo en mayúsculas para destacar el título
      letter-spacing: 1px; // Espaciado entre letras
    }

    .subtitle {
      font-size: 1.8rem;
      color: lighten($text-color, 0.5);
      margin-bottom: 25px;
      font-weight: 300; // Hace que el subtítulo sea más ligero
    }
  }
}
