<div class="container">
  <app-user (userNameUpdate)="userNameUpdate($event)" *ngIf="!userName"></app-user>
  <div class="chatbox">
    <div class="chatbox__user-list">
      <h2>Lista de Usuarios</h2>
      <div class="chatbox__user--active" *ngFor="let user of userList">
        <p>{{ user }}</p>
      </div>
    </div>
    <div class="messages_list">
      <div class="chatbox__messages" *ngFor="let msg of messageList" [ngClass]="{mine: msg.mine}">
        <div class="user-message">
          <div class="message-box">
            <p class="name">{{ msg.userName }}</p>
            <p class="message">{{ msg.message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="send-message">
    <input type="text" [(ngModel)]="message" placeholder="Escribe tu mensaje aquí..." />
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>
